:root{
    --inputSizeSenha:100%;

}

.campoInformacoesPai{
    display: grid;
    grid-template-areas:"login login"
    "usuario usuario"
    "telefone telefone"
    "senha confirm" ;
    grid-template-columns: 1fr 1fr;
    background-color: blue;
}

.campoTextoSenha{
    grid-area: senha;
    width: 100%;
}
.campoTextoConfirmaSenha{
    grid-area: confirm;
    width: 100%;
}
.campoTextoLogin{
    grid-area: login;
}
.campoTextoUsuario{
    grid-area: usuario;
}
.campoTextoTelefone{
    grid-area:telefone;
}
.campoTextoCadastro{
    display: grid;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}