*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        #MenuHeader{
            background-color: #9F735A;
            align-items: center;
            width: 100vw;
            height: 50px;
            display: flex;
        }
        #inputPesquisa{
            border: 0px;
            border-radius: 4px;
            width: 40vw;
            height: 2.5vh;
        }
        #CampoPesquisa{
            height: 10px;
            margin-bottom:3vh;
            margin-top: 1.5vh;
            margin-left: 29vw;
        }
        #lupa{
            position: absolute;
            margin-left: 38%;
            margin-right: px;
            margin-top:0.1vh;
        }
        #EntrarINDEX{
            margin-left: 75vw;
            justify-content: flex-end;
            position: absolute;
            display: flex;
        }


        #botaoEntrar{
            background-color: #C59F89;
            border: 0px;
            border-radius: 4px;
            height: 2.8vh;
            width: 8vw;
            margin-right: 3% ;
            color: aliceblue;
            cursor: pointer;        
        }
        #RegistrarINDEX{
            margin-left: 85vw;
            justify-content: flex-end;
            position: absolute;
            display: flex;
        }
        #LogoTEXTO{
            position: absolute;
            margin-left: 5%;
        }
        #botaoRegist{
            background-color: #EBCCBB;
            border: 0px;
            border-radius: 4px;
            height: 2.8vh;
            width: 10vw;
            margin-right: 3% ;
            color: rgb(254, 254, 255);
            cursor: pointer;        
        }
